.sections {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__header {
    }

    &__footer {
        margin-top: auto;
    }

    &__standart {
        &--padding {
            @include ind-p(120px, (t b));
        }
        &--margin {
            @include ind-m(120px, (t b));
        }
    }
}
