$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1800px;

// -- colors
$cl-white: #ffffff;
$cl-black: #000000;
$cl-gray: #2c2c2c;
$cl-error: #ff0000;

// $cl-font: #2c2c2c;

$cl-main: #5300da;
$cl-second: #00a7da;
$cl-third: #00da54;

// -- icon
$w-icon: 24px;
$h-icon: 24px;