@mixin fs($size: $font-size, $zoom: 1, $type: 'even') {
    $diff: ceil($size / 10px * $zoom);
    font-size: $size;

    @if $type == 'even' {
        @include lg() {
            font-size: $size - $diff;
        }
        @include sm() {
            font-size: $size - $diff * 2;
        }
    } @else if $type == 'odd' {
        @include xl() {
            font-size: $size - $diff;
        }
        @include md() {
            font-size: $size - $diff * 1.5;
        }
        @include xs() {
            font-size: $size - $diff * 2;
        }
    }
}
