.sections {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // &__header {
    // }

    &__footer {
        margin-top: auto;
    }

    &__top-menu {
        @include ind-m(40px, (t));
    }

    &__breadcrumbs {
        @include ind-m(40px, (t));
    }

    &__standart {
        &--p {
            @include ind-p(120px, (t b));
        }
        &--pt {
            @include ind-p(120px, (t));
        }
        &--pb {
            @include ind-p(120px, (b));
        }
        &--m {
            @include ind-m(120px, (t b));
        }
        &--mt {
            @include ind-m(120px, (t));
        }
        &--mb {
            @include ind-m(120px, (b));
        }
    }
}
