.radiobox-btn-group {
    display: flex;
    flex-wrap: wrap;
    @include ind-m(5px, (l r), 1, '-');
    &__item {
        @include ind-m(10px, (b));
        @include ind-m(5px, (l r));
        flex-grow: 1;
    }

    // оформление поля если не заполнено(error)
    @extend .field-container--error-block;
}
