-
    var pages = [
        { name: '1-main', link: './1-main.html'},
        { name: '2-text', link: './2-text.html'},
        { name: '3-catalog', link: './3-catalog.html'},
        { name: 'index', link: './index.html'},
    ]