.catalog {
    overflow-x: hidden;
    @include ind-m(10px, (l r), 2, '-');
    display: flex;
    flex-wrap: wrap;
    &__item {
        @include ind-p(10px, (), 2);
        display: flex;
        width: 25%;
        &.swiper-slide {
            height: auto;
        }
    }
}

.catalog-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    // &__top {
    // }
    // &__bottom {
    // }
    // &__src {
    // }
    // &__name {
    // }
}
