extends ../app

block variables
    - 
        title = 'Главная'

block content

    section.sections__standart.sections__standart--margin
        .container 
            .content-title.content-title--h2 Слайдер главный
            .main-slider(id="main-slider")
                .main-slider__slider.swiper-wrapper
                    +cat-list('main-slider', mainSlider, {commonClassItem: 'swiper-slide', hideMainDiv: true})
                .main-slider__pagination
                    .slider-pagination(id="main-slider-pagination")
                .catalog__navigation
                    .slider-btn.slider-btn--prev.catalog__navigation-prev(id="main-slider-prev")
                        svg.icon.slider-btn__icon
                            use(xlink:href="./assets/files/sprite.svg#arrow-slider")
                    .slider-btn.slider-btn--next.catalog__navigation-next(id="main-slider-next")
                        svg.icon.slider-btn__icon
                            use(xlink:href="./assets/files/sprite.svg#arrow-slider")

    //- section.sections__standart.sections__standart--margin
        .container 
            .content-title.content-title--h2 Каталог слайдер
            .catalog(id="catalog-slider")
                .catalog__slider.swiper-wrapper
                    +cat-list('catalog', catalog, {commonClassItem: 'swiper-slide', hideMainDiv: true})
                .catalog__pagination
                    .slider-pagination(id="catalog-slider-pagination")
                .catalog__navigation
                    .slider-btn.slider-btn--prev.catalog__navigation-prev(id="catalog-slider-prev")
                        svg.icon.slider-btn__icon
                            use(xlink:href="./assets/files/sprite.svg#arrow-slider")
                    .slider-btn.slider-btn--next.catalog__navigation-next(id="catalog-slider-next")
                        svg.icon.slider-btn__icon
                            use(xlink:href="./assets/files/sprite.svg#arrow-slider")

    section.sections__standart.sections__standart--margin
        .container 
            .content-title.content-title--h2 Галлерея слайдер
            .gallery(id="gallery-slider")
                .gallery__slider.swiper-wrapper
                    +cat-list('gallery', gallery, {commonClassItem: 'swiper-slide', hideMainDiv: true}, {fancybox: 'gallery-slider'})
                .gallery__pagination
                    .slider-pagination(id="gallery-slider-pagination")
                .gallery__navigation
                    .slider-btn.slider-btn--prev.gallery-slider__navigation-prev(id="gallery-slider-prev")
                        svg.icon.slider-btn__icon
                            use(xlink:href="./assets/files/sprite.svg#arrow-slider")
                    .slider-btn.slider-btn--next.gallery-slider__navigation-next(id="gallery-slider-next")
                        svg.icon.slider-btn__icon
                            use(xlink:href="./assets/files/sprite.svg#arrow-slider")

            //- input(id="mask-phone")
            //- input(id="mask-phone2")
            //- input.test-input
