//- pug функция, подставляет либо значение(телефон, адрес, итд) либо значение MODX([[++phone]], [[++address]], {\'phone\' | config}, итд), в зависимости от выбранной настройки(config.modx) в конфиге
//- @param name - имя параметра, ключ который подставляется в переменную contacts(объект массивов с двумя значениями, общим и для modx), contacts берется из файла config.pug

- let modx = (name) => { return config.modx && contacts[name][1] ? `${contacts[name][1]}` : `${contacts[name][0]}`; }